# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
.angular/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Git
.git/
.gitignore

# Environment
.env
.env.*
*.env
!environment.*.ts

# Test
coverage/
.nyc_output/

# OS
.DS_Store
Thumbs.db
